body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 960px /*720px*/;        /*PARA COLUNA FALSA -> LAYOUT FIXO*/
	margin: 0 auto;                       
	background: #fff url(../imagens/coluna.png) repeat-y left top;
	min-width: 720px;
	/*max-width: 1280px;*/
}

#marca {
	width: 100%; /*Nem precisaria colocar pois o padrao é a div ocupar 100% do espaço disponivel*/
	height: 200px;
	text-align: center;
	background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
	line-height: 200px;
}

#conteudo {
	width: 75% /*520px -> 520/(520+180) = 75%*/;
	float: right;
}

#conteudo-principal {
	width: 63%;
	float: left;
}

img.img-noticia {
	width: 94%;
	padding: 2%;
	max-width: 600px;
}

/*#imagem {
	width: 90%;
	overflow: hidden;  /*apaga o que saiu da div
}*/

#conteudo-secundario {
	float: right;
	background: #d1d1d1;
	width: 34%
}

#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}


#navegação {
	width: 23% /*180px -> 180/(520+180) = 25%*/;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	/**background: #d1d1d1;*/
}

#navegação ul {
	list-style: none;
}

#navegação li a{
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}